MICROSOFT_CLIENT_ID=00000000-0000-0000-0000-000000000000
MICROSOFT_TENANT_ID=common
MICROSOFT_AUTH_FLOW=device_code
MICROSOFT_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
MICROSOFT_GRAPH_SCOPES=User.Read,Mail.Read,Mail.Send,Calendars.Read,Calendars.ReadWrite,Files.ReadWrite,People.Read
MICROSOFT_ENABLED_CAPABILITIES=mail,calendar,files,people
MICROSOFT_ALLOWED_SHAREPOINT_SITES=
MICROSOFT_HTTP_TIMEOUT_MS=15000
MICROSOFT_MAX_RETRIES=3
MICROSOFT_RETRY_BASE_DELAY_MS=500
